#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L0 0
#define L1 1
#define L2 2
#define L3 3
#define L4 4

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &to L1    &kp A     &kp B
                &kp C     &kp D     &kp E
                &to L2    &to L0    &kp F
                &to L3    &to L4    &kp G
            >;
            sensor-bindings = <&inc_dec_kp UP DOWN>;
        };

        1_layer {
            bindings = <
                &kp H     &kp I     &kp J
                &kp K     &kp L     &kp M
                &kp N     &to L0    &kp O
                &kp P     &kp Q     &kp R
            >;
        };

        2_layer {
            bindings = <
                &kp S     &kp T     &kp U
                &kp V     &kp W     &kp X
                &kp Y     &to L0    &kp Z
                &kp A     &kp B     &kp C
            >;
        };

        3_layer {
            bindings = <
                &kp D     &kp E     &kp F
                &kp G     &kp H     &kp I
                &kp J     &to L0    &kp K
                &kp L     &kp M     &kp N
            >;
        };

        4_layer {
            bindings = <
                &to L1    &kp O     &kp P
                &kp Q     &kp R     &kp S
                &kp T     &to L0    &kp U
                &kp V     &kp W     &kp X
            >;
        };
    };
};