#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L0 0
#define L1 1
#define L2 2
#define L3 3
#define L4 4
#define L5 5

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &to L1      &to L0      &kp SPACE
                &kp LEFT    &kp RIGHT   &kp L
                &to L2      &to L5      &kp J
                &to L3      &to L4      &kp H
            >;
            sensor-bindings = <&inc_dec_kp UP DOWN>;
        };

        1_layer {
            bindings = <
                &to L1      &to L0      &kp SPACE
                &kp LEFT    &kp RIGHT   &kp L
                &to L2      &to L5      &kp J
                &to L3      &to L4      &kp H
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        2_layer {
            bindings = <
                &to L1      &to L0      &kp SPACE
                &kp LEFT    &kp RIGHT   &kp L
                &to L2      &to L5      &kp J
                &to L3      &to L4      &kp H
            >;
            sensor-bindings = <&inc_dec_kp G I>;
        };

        3_layer {
            bindings = <
                &to L1      &to L0      &kp SPACE
                &kp LEFT    &kp RIGHT   &kp L
                &to L2      &to L5      &kp J
                &to L3      &to L4      &kp H
            >;
            sensor-bindings = <&inc_dec_kp Y T>;
        };

        4_layer {
            bindings = <
                &to L1      &to L0      &kp SPACE
                &kp LEFT    &kp RIGHT   &kp L
                &to L2      &to L5      &kp J
                &to L3      &to L4      &kp X
            >;
            sensor-bindings = <&inc_dec_kp PERIOD COMMA>;
        };

        5_layer {
            bindings = <
                &none           &to L0          &bootloader
                &bt BT_SEL 4    &bt BT_CLR      &sys_reset
                &bt BT_SEL 2    &bt BT_SEL 3    &none
                &bt BT_SEL 0    &bt BT_SEL 1    &none
            >;
            sensor-bindings = <&inc_dec_kp &none &none>;
        };
    };
};